{# 'ME/PlatformBundle/Resources/views/Default/inscription.html.twig' #}
<html>
	<head>
		{% block stylesheet %}
			<link href="{{ asset('bundles/Public/css/style.css') }}" type="text/css" rel="stylesheet" />
		{% endblock %}
	</head>
	<body>
		{{ message }}
		{{ form_start(form, {'attr': {'class': 'form-horizontale'}}) }}
		{{ form_errors(form) }}
		<div class="case">
			{{ form_label(form.userName, "Nom d'utilisateur :", {'label_attr': {'class': 'label control-label'}}) }}
			{{ form_widget(form.userName, {'attr': {'class': 'form-control'}}) }}
		</div>
		<div class="case">
			{{ form_errors(form.userName) }}
		</div>
		<div class="case">
			{{ form_label(form.password, "Mot de passe :", {'label_attr': {'class': 'label control-label'}}) }}
			{{ form_widget(form.password, {'attr': {'class': 'form-control'}}) }}
		</div>
		<div class="case">
			{{ form_errors(form.password) }}
		</div>
		{{ form_rest(form) }}
	</body>
	<footer>
		<a href="{{ accueil_url }}">Accueil</a>
	</footer>
</html>